$footerHeight: 2rem;

#wrapper {
  min-height:100%;
  position:relative;
}

.navbar.header {
  padding: 0.1rem 1rem;
  border-bottom: 1px solid #d2d2d2;
  
  .navbar-brand {
    font-size: 1.7rem;
    font-weight: 200;
    
    img {
      vertical-align: -3%;
    }
  }
}

.navbar.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height: $footerHeight;
  border-top: 1px solid #d2d2d2;
  font-size: .5rem;
}

#mainContent {
  padding-top: map_get($spacers, 3);
  padding-bottom: $footerHeight;
}
