.MyBooks {
  .thumbnail {
    width: 6rem;
  }

  .publication-year {
    font-size: 1rem;
    font-style: italic;
    color: gray;
  }

  .rating-average {
    vertical-align: text-bottom;
    font-style: italic;
    color: gray;
    font-size: .8rem;
  }
}